#ignore thumbnails created by windows
Thumbs.db

# Ignore log files
*.log
velocity.log*

# Ignore files created by eclipse
*.project
*.classpath
*.launch
**/.settings/
**/.metadata/*

**/target/
**/.classpath
**/.project
**/.settings/
**/.factorypath
**/.tern-project
/bin/

# IntelliJ
.idea/
*.iml

# JRebel config
**/rebel.xml

# Ignore log files
*.log

# Ignore Mac Finder metadata files
.DS_Store
